.video-container {
    height: 500px;
    position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .content {
  z-index: 1;
  position: relative;
  padding: 10px;
  height: 100%;
}

.BannerHeader{
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  color: rgb(246, 249, 249);
  margin-top: 400px;
  margin-bottom: 50px;
  margin-right: 750px;
  margin-left: 1px;
  font-weight: bolder;
  

}

.BannerHeaders{
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  color: 'white';
  
  font-weight: bolder;
  

}
.BannerSearchBar{
  width: 600px;


}

.BannerButtonGroup{
  margin-bottom: 10px;

}
.scoreHolder{
  width: 500px;
 height: 570px;
 
}